global
{% if haproxy_log_socket %}
  log /dev/log  local0
  log /dev/log  local1 notice
{% endif %}
{% if haproxy_log_network %}
  log         {{ haproxy_log_network_host }} local2
{% endif %}
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
{% if haproxy_nbproc is defined %}
  nbproc {{ haproxy_nbproc }}
{% endif %}
{% if haproxy_cpu_maps is defined %}
{% for haproxy_cpu_map in haproxy_cpu_maps %}
  cpu-map {{ haproxy_cpu_map.processes }} {{ haproxy_cpu_map.cpus }}
{% endfor %}
{% endif %}
{% if haproxy_stats_sockets is defined %}
{% for haproxy_stats_socket in haproxy_stats_sockets %}
  stats socket {{ haproxy_stats_socket.param }}
{% endfor %}
{% endif %}

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  timeout connect {{ haproxy_connect_timeout }}
  timeout client {{ haproxy_client_timeout }}
  timeout server {{ haproxy_server_timeout }}
{% if haproxy_log_format is defined %}
  log-format {{ haproxy_log_format }}
{% endif %}

{% if userlists is defined %}
{% for userlist in userlists %}
userlist {{ userlist.name }}
{% for user in userlist.users %}
    user {{ user.username }} {{ user.password_type }} {{ user.password }}
{% endfor %}
{% endfor %}
{% endif %}

{% for haproxy_frontend in haproxy_frontends %}
frontend {{ haproxy_frontend.name }}
{% for bind in haproxy_frontend.bind %}
{% if bind.ssl | default(false) %}
    bind {{ bind.address }}:{{ bind.port }} ssl crt {{ bind.pem_proxy }}
{% else %}
    bind {{ bind.address }}:{{ bind.port }}
{% endif %}
{% endfor %}
{% if haproxy_frontend.ssl_redirect | default(false) %}
    redirect scheme https if !{ ssl_fc }
{% endif %}
{% if haproxy_frontend.option is defined %}
{% for option in haproxy_frontend.option %}
    option {{ option }}
{% endfor %}
{% endif %}
    mode {{ haproxy_frontend.mode }}
{% if haproxy_frontend.acl is defined %}
{% for acl in haproxy_frontend.acl %}
    acl {{ acl }}
{% endfor %}
{% endif %}
{% if haproxy_frontend.use_backend is defined %}
{% for use_backend in haproxy_frontend.use_backend %}
    use_backend {{ use_backend }}
{% endfor %}
{% endif %}
    default_backend {{ haproxy_frontend.backend_name }}
{% endfor %}

{% for haproxy_backend in haproxy_backends %}
backend {{ haproxy_backend.name }}
    mode {{ haproxy_backend.mode }}
    balance {{ haproxy_backend.balance_method }}
{% if haproxy_backend.option is defined %}
{% for option in haproxy_backend.option %}
    option {{ option }}
{% endfor %}
{% endif %}
{% if haproxy_backend.http_auth_userlist is defined %}
    acl {{ haproxy_backend.http_auth_userlist }} http_auth({{ haproxy_backend.http_auth_userlist }})
    http-request auth realm AuthRealm if !{{ haproxy_backend.http_auth_userlist }}
{% endif %}
{% if haproxy_backend.cookie | default(false) %}
    cookie SERVERID insert indirect
{% endif %}
{% for server in haproxy_backend.servers %}
    server {{ server.name }} {{ server.address }} {{ server.options }}
{% endfor %}
{% endfor %}
